* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: white;
  }
  nav a {
    color: #5995DA;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    justify-content: center;
  }
  
  .title{
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    border-radius: 0px;
    padding: 10px 10px;
    margin: 0;
    margin-bottom: 0px;
  }

  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }

  .Main-Page {
    margin-left: 20px;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .photo-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;  /* <--- Really freaking cool! */
    flex-wrap: wrap;
  }

  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

  .My-GitHub,
  .project {
  align-self: flex-end;
  margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-three {
    flex: 2;
  }

  .footer-one,
  .footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
  }

  .carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
  }
  
  .carousel_item,
  .carousel_item--hidden {
    display: none;
  }
  
  .carousel_item img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .carousel_item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }
  
  .prev, .next {
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 30px;
  }
  
  .prev#carousel_button--prev {
    margin-left: 20px;
    justify-content: space-evenly;
  }
  
  .next#carousel_button--next {
    margin-right: 20px;
    justify-content: space-evenly;
  }
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }